html, body {
    margin:0px;
    padding:0px;
}
#nav-bar-container {
    height: 50px;
    border-bottom: 2px solid aquamarine;
}
#nav-bar {
    display:flex;
    margin:4px;
    color:lightgrey;
    font-size: 30px;
    margin-top:10px;
    margin-bottom:10px;
}
#nav-bar-options {
    display:flex;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    flex-flow: row;
    flex-grow: 1;
    justify-content: space-around;
}
.nav-bar-option {
    color:lightgrey;
    font-size:20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width:auto;
}
.nav-bar-link {
    color:lightgray;
}